{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        
        http-kit/http-kit {:mvn/version "2.5.1"}
        metosin/reitit {:mvn/version "0.5.11"}
        integrant/integrant {:mvn/version "0.8.0"}}
 :aliases {:dev {:extra-paths ["env/dev"]
                 :extra-deps {org.clojure/tools.namespace {:mvn/version "1.1.0"}}}
           :shadow-cljs {:extra-deps {org.clojure/clojurescript {:mvn/version "1.10.764"}
                                      thheller/shadow-cljs {:mvn/version "2.11.14"}
                                      binaryage/devtools {:mvn/version "1.0.2"}

                                      reagent/reagent {:mvn/version "1.0.0" :exclusions [cljsjs/react cljsjs/react-dom]}}}}}
