body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#app {
    display: flex;
    align-items: center;
    justify-content: center;
}

#centred {
    display: flex;
    align-items: center;
    flex-flow: column;
    width: 640px;
}

#logo {
    display: flex;    
    align-items: center;
    flex-flow: column;
    margin-bottom: 20px;
    margin-top: 10px;
}

#app-name {
    display: flex;
    flex-flow: column;
    align-items: center;
}

#form-container {
    background-color: #ecf0f1;
    padding: 15px 15px 15px 15px;
    border-radius: 6px;
}
